<div class="card mt-4 w-100">
  <img src="../assets/serie.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Serie Fibonacci</h5>
    <p class="card-text">Ingrese un número y se mostrara la n-ésima posición</p>

    <label for="validationServerUsername" class="form-label">Número</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend3">#</span>
      <input type="text" [formControl]="comment"
      [ngClass]="{'is-invalid': comment.invalid && comment.value.length, 'is-valid' : comment.valid && comment.value.length }"  
      class="form-control " id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
      <div id="validationServerUsernameFeedback" class="invalid-feedback" *ngIf="comment.invalid && comment.value.length">
        Ingrese un numero mayor a cero
      </div>
      <div class="valid-feedback" *ngIf="comment.valid && comment.value.length">
        Correcto
      </div>
    </div>
    <p *ngIf="resultado !== undefined">n-ésimo término: {{resultado}}</p>
    <button class="btn btn-primary mt-2" type="submit" (click)="enviar(comment.value)">Enviar</button>
  </div>
</div>